@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white ;


}

:root {
  --primary-color: #f17e0c;  /*600*/
  --primary-color-dark: #dc6f02;  /*700*/
  --primary-color-light: #f17f0cbe;  /*500*/
  --primary-color-lighter: #f17f0c5d;  /*200*/
  --primary-color-100: #f17f0c34;   /*100*/
  --primary-color-lightest: #f17f0c12; /*50*/
  --secondary-color: #16a34a;
  --tertiary-color: #16a34a;
}